* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif, Arial, Helvetica
}

body {
    width: 100vw;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

nav {
    font-size: 14px;
    height: fit-content;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15%;
    padding-right: 15%;
}

.nav-top {
    background-color: #F4F9FD;
    border-bottom: 1px solid grey;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-bot {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-top a {
    margin-left: 10px;    
}

.orange {
    color: white;
    background-color: #FE775A;
    border: none;
    padding: 15px;
}

#small-orange {
    color: white;
    background-color: #FE775A;
    border-color: #FE775A;
    padding: 10px 5px 10px 5px;
}

#transparent {
    background-color: transparent;
    color: #FE775A;
    border: 1px solid #FE775A;
    padding: 10px 5px 10px 5px;
}

.nav-top #left {
    float: left;
}

.nav-top li {
    float: right;
    margin-left: 10px;
}

.nav-bot img#logo {
    width: 100px;
    float: left;
    vertical-align: middle;
}

li {
    list-style: none;
    color: darkgrey;
}

.select {
    vertical-align: middle;
    color: rgb(172, 170, 170);
    font-weight: bolder;
    padding-left: 5px;
}

a {
    text-decoration: none;  
    height: 35px;
    padding: 15px 5px 15px 5px;
    border-radius: 10px;
}

a.big {
    padding-top: 40px;
    padding-bottom: 40px;
}

nav, nav a {
    color: rgb(172, 170, 170);
}

#contacts {
    color: #838383;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid darkgrey;
}

.nav-bot a {
    padding-left: 10px;
}

.nav-bot li {
    margin-top: 7.5px;
    margin-left: 15px;
    float: right;

}

.header-bot {
    background-image: url(img/jumbotron.png);
    background-size: cover;
    height: fit-content;
    padding-top: 5%;
    padding-bottom: 13.5%;
    padding-left: 15%;
    padding-right: 15%;
}

.header-bot > div {
    width: 36vw;
}

.header-bot h1 {
    font-size: 44px;
    line-height: 50px;
}

.header-bot p {
    padding-top: 5%;
    padding-bottom: 5%;
}

.header-bot p.big {
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
}

.header-bot p.small {
    margin-top: 5%;
    font-size: 12px;
}

.green-row{
    height: 7vh;
    width: 100%;
    background-color: #AFEBE4;
    border: 3px solid rgb(70, 69, 69)
}

.main-top {
    background-color: #F4F9FD;
    width: 100%;
    height: fit-content;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 30px;
}

.main-top #centered {
    width: 50%;
    margin: auto;
    text-align: center;
}

#centered img#cube {
    padding-top: 5%;
    width: 25%;
}

.main-top p {
    padding-top: 3%;
    padding-bottom: 5%;
    font-size: 13px;
    line-height: 20px;
}

.main-top .white {
    background-color: white;
}

.main-top .white.small-row {
    margin-bottom: 3%;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
}

.white.small-row > div {
    float: left;
}

.small-row div#more {
    padding-left: 10%;
    width: 25%;
    text-align: center;
}

#more > a {
width: 120px;
height: auto;
display: block;
margin: 0px auto;
text-align: center;
}

#more > img {
    width: 80%;
    margin-bottom: 30px;
}

.small-row div#info {
    padding-left: 15%;
    padding-right: 10%;
    width: 75%;
}

#info > h3 {
    font-size: 20px;
}

#info > p {
    width: 90%;
    font-size: 15px;
    line-height: 26px;
}

#info li {
    color: #838383;
    display: inline;
    font-size: 17px;
    padding-right: 2.5%;
    padding-top: 2.5%;
}

.checkmark {
    margin-right: 5px;
    padding: 3px 5px 3px 5px;
    color: white;
    background-color: #FE775A;
    border-radius: 50%;
}

#info > h4 {
    margin-bottom: 15px;
}

#info h4, #info hr {
    display: inline-block;
}

#info hr {
    width: 65%;
}

input.radio-box {
    margin-right: 10px;
}

.main-top .white.column {
    width: 30%;
    padding-top: 30px;
    padding-bottom: 40px;
    height: auto;
    float: left;
}

.white.column#center {
    margin-left: 5%;
    margin-right: 5%;
}

.main-top .white.column img {
    display: block;
    margin: 0px auto;
    height: 15vh;
    text-align: center;
}

.white.column h3, .white.column p {
    text-align: center;
}

.white.column h3 {
    margin-top: 20px;
}

.white.column p {
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 7.5%;
    line-height: 25px;
    font-size: 14px;   
}

.white.column hr {
    width: 80%;
    margin: auto;
}

.white.column h4 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 16px;
}

.white.column ul {
    color: #838383;
    padding-left: 15%;
    padding-bottom: 10%;
    font-size: 14px;
    line-height: 20px;
}

.white.column li {
    line-height: 26px;
}

.white.column a {
    width: 120px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    margin: 0px auto;
    text-align: center;
}

.main-center {
    padding: 5% 15% 5% 15%;
    height: fit-content;
    background-color: #00B1B0;
    color: white;
    text-align: center;
}

.main-center h2 {
    font-size: 30px;
    line-height: 42px;
    padding-bottom: 2.5%;
}

.main-center p.caption {
    line-height: 30px;
    padding-bottom: 5%;
}

.main-center table {
    width: 70%;
    margin: auto;
}

.main-center td {
    padding: 3% 7.5% 3% 7.5%;
    width: 20%;
}

.main-center #top-tr td {
    border-bottom: 1px solid white;
    padding-bottom: 3%;
}

.main-center img.name {
    width: 150px;
}

.main-center img.symbol {
    width: 50px;
}

.main-center img.big {
    width: 85px;
}

.main-center h1 {
    padding-top: 10%;
    font-size: 44px;
}

.main-center td.border-left {
    border-left: 1px solid white;
}

.main-bot {
    height: fit-content;
    padding: 2.5% 15% 2.5% 15%;
}

.main-bot .numbers {
    float: left;
    padding-left: 5%;
    width: 25%;
}

.main-bot h1 {
    padding-bottom: 30px;    
    font-size: 54px;
}

.main-bot p {
    color: darkgrey;
    font-size: 15px;
    line-height: 25px;
}

.main-bot .logos {
    float: right;
    width: 60%;
    line-height: 50px;
}

.main-bot .logos img {
    margin-left: 7.5%;
    width: 85px;
    vertical-align: middle;
}

.main-bot .start {
    padding-top: 7.5%;
    width: 45%;
    float: left;
}

.main-bot .start h2 {
    font-size: 32px;
}

.main-bot .start p {
    margin-top: 5%;
    padding-bottom: 7.5%;
    line-height: 27px;
    text-align: justify;
}

#woman > img {
    margin-top: 2.5%;
    float: right;
    width: 300px;
}

footer {
    width: 100%;
    height: fit-content;
    background-color: #32495B;
    padding: 3.5% 15% 3.5% 15%;
}

footer h5 {
    color: white;
    font-size: 15px;
}

.footer-top h5 {
    line-height: 55px;
}

footer a {
    color: lightgray;
    font-size: 13px;
    line-height: 34px;
}

footer a#support {
    background-color: white;
    color: #32495B;
    margin-top: 7.5%;
    padding: 10px;
    border: none;
}

.footer-top > .left, .footer-top > .center, .footer-top > h5, .footer-top > ul {
    margin-right: 8%;
}

.footer-top div.left, .footer-top > div.center {
    font-size: 7px;
    line-height: 26px;
    float: left;
}

.footer-top div.right {
    float: right;
    margin-right: 10%;
}

ul.social-networks-icons > li {
    padding-top: 20px;
    float: right;
    padding-right: 12.5px;
}

ul.social-networks-icons img {
    border-radius: 7.5px;
    width: 25px;
    vertical-align: middle;
}

.footer-bot ul.lang {
    padding-left: 25%;
}

ul.lang > li {
    float: left;
    padding-top: 7.5%;
    padding-bottom: 15px;
    padding-right: 20px;
}

.footer-bot hr {
    color: white;
    padding-right: 5%;
    width: 90%;
}

.footer-bot ul.page-info {
    margin-left: 70%;
}

.footer-bot div, .page-info > li {
    float: left;
    vertical-align: middle;
}

.page-info > li {
    padding-top: 5%;
    padding-left: 20px;
}

.footer-bot img {
    width: 100px;
    padding-top: 10%;
}
