* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif, Arial, Helvetica
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
}

.header-top {
    width: 100%; 
}

nav {
    width: 100%;
}

.nav-top {
    background-color: #F4F9FD;
    border-bottom: 1px solid black;
    height: 7vh;
    line-height: 7vh;
    padding: 0vh 10vw 0vh 10vw;
}

.nav-bot {
    height: 20vh;
    line-height: 8vh;
    padding: 0vh 10vw 0vh 10vw;

}

nav #logo {
    width: 8.5vw;
}

li {
    list-style: none;
}

nav li {
    float: left;
}

select {
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
}

a#contacts {
    padding-right: 10px;
    border-right: 1px solid grey;
}

input {
    border-radius: 5px;
}

input.orange {
    color: white;
    background-color: #FE775A;
    border: none;
    padding: 15px;
}

input#small-orange {
    color: white;
    background-color: #FE775A;
    border: none;
    padding: 10px;
}

input#transparent {
    background-color: transparent;
    color: #FE775A;
    border-color: #FE775A;
    padding: 10px;
}

.header-bot {
    width: 100%;
    background-image: url(img/jumbotron.png);
    background-size: cover;
    padding: 10vh 10vw 22.5vh 10vw;
}

.header-bot > div {
    width: 40vw;
}

header h1 {
    font-size: 46px;
    line-height: 50px;
}

header p.big {
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 18px;
    line-height: 30px;
}

header p.small {
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 14px;
    
}

.row {
    height: 7vh;
    width: 100%;
    background-color: #AFEBE4;
    border: 3px solid black
}

main {
    width: 100%;
}

.main-top {
    width: 100%;
    background-color: #F4F9FD;
}

.main-top div {
    background-color: white;
}

.main-center {
    width: 100%;
    background-color: #00B1B0;
}

.main-bot {
    width: 100%;
}

footer {
    width: 100%;
    background-color: #32495B;
}

footer h5 {
    color: white;
    font-size: 18px;
}

footer a {
    color: white;
    font-size: 13px;
}

footer input {
    background-color: white;
    color: #32495B;
    padding: 10px;

}

    RICORDA DI METTERE IL PADDING NEI BUTTON SENZA BORDO COSI' DA ESSERE CLICCATI MEGLIO


    TRASFORMA TUTTE LE GRANDEZZE IN VIEWPORT


    main-top

    main-center

    main-bot

    footer-top

    footer-bot